<div class="container main-container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 1000px; margin-left: 8%;">
        <img
          class="banner-img"
          src="../../assets/banner.png"
          width="600px"
          height="200px"
        />
        <div class="card-body" style="margin-left: 20%; margin-right: 20%;">
          <div class="alert alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <fieldset>
              <div class="form-group">
                <input
                  id="emailInput"
                  type="text"
                  formControlName="emailId"
                  class="form-control"
                  placeholder="Email"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    formControls.emailId?.touched &&
                    formControls.emailId?.hasError('required')
                  "
                >
                  EmailId is required
                </span>
              </div>
              <div class="form-group">
                <input
                  id="passwordInput"
                  class="border border-warning"
                  type="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <span
                  class="text-danger"
                  *ngIf="
                    formControls.password?.touched &&
                    formControls.password?.hasError('required')
                  "
                >
                  Password is required
                </span>
                <span
                  id="passwordValidateError"
                  class="text-danger"
                  *ngIf="formControls.password?.errors?.minlength"
                  >Password must be at least 4 characters</span
                >
              </div>
              <div class="d-flex justify-content-center">
                <button
                  id="logn"
                  class="btn btn-secondary buttonStyle"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  Login
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
